table.redTable {
  border: 2px solid #97DBFF;
  background-color: #EEE7DB;
  width: 70%;
  text-align: left;
  border-collapse: collapse;
  margin-left: 15%;
  margin-right: 15%;
}
table.redTable td, table.redTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.redTable tbody td {
  font-size: 13px;
}
table.redTable thead {
  background: #328BA4;
}
table.redTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #97DBFF;
}
table.redTable thead th:first-child {
  border-left: none;
}

table.redTable tfoot td {
  font-size: 13px;
}
table.redTable tfoot .links {
  text-align: right;
}

li {
  text-align:left;
}